<?php

return [
    'apisearch' => [
        'host'  => '',
        'version' => 'v1',
        'repository' => \Apisearch\Repository\HttpRepository::class,
        'token' => '',
        'appId' => '',
    ]
];
